body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    color: #fffcfc;
  }
  
  .book {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #42cfd4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .book img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  
  .book h2 {
    margin-top: 10px;
    color: #555;
  }
  
  .book p {
    margin-top: 5px;
    color: #777;
  }
  .book {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
  }
  
  .book:hover {
    transform: scale(1.1); 
  }

  .profile-image {
    width: 600px;
    height: auto;
    border-radius: 8px;
  }

.button-instagram {
    padding: 10px 20px;
    background-color: #405DE6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .button-instagram:hover {
    transform: scale(1.1);
  }

  /* INI BUAT WARNA LATAR BELAKANG */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #584d4d; 
  }

.profile-image {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #645858;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
  }

 h2 {
    color: #ffffff;
  }

title {
    color: #f9f9f9;
}
.music-button {
    width: 60px;
    height: 60px;
    background-image: url('musicbutton.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .music-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  

  


  
  
  
  
  